<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            'bundles/alidatatable/third-party/bootstrap/css/bootstrap.min.css'
            'bundles/alidatatable/css/dataTables.bootstrap.min.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
    {% block javascripts %}
        {% javascripts
        'bundles/alidatatable/js/jquery.min.js'
        'bundles/alidatatable/js/jquery.dataTables.min.js'
        'bundles/alidatatable/js/dataTables.bootstrap.min.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}
    </body>
</html>
