{% extends '::base.html.twig' %}
{% block stylesheets %}
    {% stylesheets
    'bundles/alidatatable/third-party/bootstrap/css/bootstrap.min.css'
    'bundles/alidatatable/css/dataTables.bootstrap.min.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {% javascripts
    'bundles/alidatatable/js/jquery.min.js'
    'bundles/alidatatable/js/jquery.dataTables.min.js'
    'bundles/alidatatable/js/dataTables.bootstrap.min.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {{ datatable({
        'edit_route' : 'grid_edit',
        'delete_route' : 'grid_delete',
        'js' : {
            'sAjaxSource' : path('grid')
        }
    }) }}
{% endblock %}