{% extends '::base.html.twig' %}
{% block body %}
    <div class="panel">
        <div class="panel-body">
            <a class="btn btn-primary" href="{{ path('forum_topics') }}">Topics</a>
            <a class="btn btn-primary" href="{{ path('forum_topic', {'id':task.topic.id}) }}">Tasks</a>
        </div>
    </div>

    {{ datatable({
        'edit_route' : 'grid_edit',
        'delete_route' : 'grid_delete',
        'js' : {
            "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [ 2, 3 ] },
            { 'bVisible': false, 'aTargets': [ 2, 3 ] }
            ],
            'sAjaxSource' : path('forum_comments_grid', {'id':task.id}),
            "fnRowCallback":'function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
                    if(aData[0]=="Admin" && aData[2]=="admin@admin.hu"){
                        $(nRow).addClass("label-success");
                    }
            }'
        },
        'main_template':'AppBundle:Forum:datatable_custom_layout.html.twig'
    }) }}
    <div class="panel panel-default">
        <div class="panel-body">
            {% for message in app.session.flashbag.get('danger') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}