{% extends '::base.html.twig' %}
{% block stylesheets %}
    {% stylesheets
    'bundles/alidatatable/third-party/bootstrap/css/bootstrap.min.css'
    'bundles/alidatatable/css/dataTables.bootstrap.min.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {% javascripts
    'bundles/alidatatable/js/jquery.min.js'
    'bundles/alidatatable/js/jquery.dataTables.min.js'
    'bundles/alidatatable/js/dataTables.bootstrap.min.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="row" style="padding-top: 50px">
        <div class="panel panel-default">
            <div class="panel-heading">
                Forum topics
            </div>
            <div class="panel-body">
                {{ datatable({
                    'edit_route' : 'grid_edit',
                    'delete_route' : 'grid_delete',
                    'js' : {
                        'sAjaxSource' : path('forum_topics_grid'),
                        "aoColumnDefs": [
                        { 'bSortable': false, 'aTargets': [ 1 ] }
                        ]
                    }
                }) }}
            </div>
        </div>
    </div>
{% endblock %}