{% extends '::base.html.twig' %}
{% block body %}
    <div class="panel">
        <div class="panel-body">
            <a class="btn btn-primary" href="{{ path('forum_topics') }}">Topics</a>
        </div>
    </div>
    {{ datatable({
        'edit_route' : 'grid_edit',
        'delete_route' : 'grid_delete',
        'js' : {
            'sAjaxSource' : path('forum_tasks_grid', {'id':topic.id}),
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [ 2, 3, 4 ] }
            ]
        }
    }) }}

    <div class="panel panel-default">
        <div class="panel-body">
            {% for message in app.session.flashbag.get('danger') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}