{% extends '::base.html.twig' %}

{% block body %}
    {{ datatable({
        'edit_route' : 'grid_edit',
        'delete_route' : 'grid_delete',
        'js' : {
            'sAjaxSource' : path('forum_topics_grid')
        }
    }) }}
{% endblock %}